<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Ali Can Yücel Github" src="https://avatars.githubusercontent.com/u/32604562?v=4" />
    <ion-card-header>
      <ion-card-title>Ali Can Yücel</ion-card-title>
      <ion-card-subtitle>Bilgisayar Mühendisi</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
     Merhabalar.Bu benim ionic çalışmalarımdan bir projedir.
     <a routerLink="/place/home/home-detail">
      <ion-icon name="arrow-forward-circle-outline"></ion-icon>
     </a>
    </ion-card-content>
  </ion-card>
</ion-content>
